--- Security ---

Ignore the local properties file that contains secret keys

/application-local.properties
*.env

--- Build Artifacts ---

Compiled class files

target/
*.jar
*.war

--- IDE Files ---

IntelliJ IDEA

.idea/
*.iml
*.iws

VS Code

.vscode/

--- Log files ---

*.log

--- Other ---

.DS_Store